---
layout: base.njk
title: Video Reader
---

<script>
	async function fetchVideos() {
		const url = document.getElementById('url-input').value;

		const result = await fetch('https://q0sqqmfn1g.execute-api.us-east-2.amazonaws.com/default?uri=' + url);

		console.log('we fetching: ', url);
	}
</script>

<div>
	<h1 class="page-title">Video Reader</h1>
	<div>
		<label for="url">Video Url:</label>
		<input type="text" name="url" id="url-input"/>
		<button onclick="fetchVideos()">Fetch</button>
	</div>
</div>